.markdown-preview-view h1 {
    font-size: 200%;
}

.markdown-preview-view h2 {
    font-size: 160%;
}

.markdown-preview-view h3 {
    font-size: 120%;
}

.markdown-preview-view h4 {
    font-size: 100%;
    font-weight: bold;
}